<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>


export default {
  name: 'Door',

  components: {
    
  },

  data () {
    return {
      
    }
  }
}
</script>

<style>
</style>
